In [ ]:
pipe_final = Pipeline([
    ('preprocessing', preprocess_pipeline), 
    ('classifier', SVC(kernel='linear', C=10))])

In [ ]:
# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"
test_data = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test", na_values=[" ?"], 
    header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'gender',
    'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
    'income'])
# For illustration purposes, we only select some of the columns
test_data = test_data[['workclass', 'age', 'education', 'education-num', 'occupation', 'capital-gain','gender', 'hours-per-week',  'income']]
# IPython.display allows nice output formatting within the Jupyter notebook
# add some none
test_data['education-num'][0]=None
display(test_data.head())

In [88]:
test_data.dropna(inplace=True)
display(test_data.head())

,workclass,age,education,education-num,occupation,capital-gain,gender,hours-per-week,income
1,Private,25,11th,7.0,Machine-op-inspct,0.0,Male,40.0,<=50K.
2,Private,38,HS-grad,9.0,Farming-fishing,0.0,Male,50.0,<=50K.
3,Local-gov,28,Assoc-acdm,12.0,Protective-serv,0.0,Male,40.0,>50K.
4,Private,44,Some-college,10.0,Machine-op-inspct,7688.0,Male,40.0,>50K.
6,Private,34,10th,6.0,Other-service,0.0,Male,30.0,<=50K.

In [89]:
X_tes_final = test_data.drop(['income'], axis=1)
y_tes_final = label_encoder.fit_transform(test_data['income'].values)

In [90]:
pipe_final.predict(X_tes_final)

array([0, 0, 0, ..., 0, 0, 1])

In [ ]:
metrics.f1_score(y_pred= pipe_final.predict(X_tes_final), y_true = y_tes_final)