In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import (pairwise_tukeyhsd, MultiComparison)
from statsmodels.stats.libqsturng import psturng

Zadanie
Trzej łucznicy - Patryk, Jacek i Aleksander biorą udział w konkursie strzeleckim. Pierścienie na tarczy mają wartości punktacji od 1 do 10 (10 to najwyższy wynik). Każdy uczestnik strzela 6 strzał, zdobywając punkty:

Patryk - 5, 4, 4, 3, 9, 4

Jacek - 4, 8, 7, 5, 1, 5

Aleksander - 9, 9, 8, 10, 4, 10

Na podstawie powyższych wyników chcielibyśmy wiedzieć, kto jest najlepszym łucznikiem. Innymi słowy, nasza hipoteza zerowa oznacza, że środnie we wszystkich populacjach są jednakowe.

In [2]:
data = np.rec.array([
('Pat', 5),
('Pat', 4),
('Pat', 4),
('Pat', 3),
('Pat', 9),
('Pat', 4),
('Jack', 4),
('Jack', 8),
('Jack', 7),
('Jack', 5),
('Jack', 1),
('Jack', 5),
('Alex', 9),
('Alex', 8),
('Alex', 8),
('Alex', 10),
('Alex', 5),
('Alex', 10)], dtype = [('Archer','|U5'),('Score', '<i8')])
data

rec.array([('Pat',  5), ('Pat',  4), ('Pat',  4), ('Pat',  3),
           ('Pat',  9), ('Pat',  4), ('Jack',  4), ('Jack',  8),
           ('Jack',  7), ('Jack',  5), ('Jack',  1), ('Jack',  5),
           ('Alex',  9), ('Alex',  8), ('Alex',  8), ('Alex', 10),
           ('Alex',  5), ('Alex', 10)],
          dtype=[('Archer', '<U5'), ('Score', '<i8')])

ANOVA

In [11]:
print(stats.shapiro(data[data['Archer'] == 'Pat'].Score))
print(stats.shapiro(data[data['Archer'] == 'Jack'].Score))
print(stats.shapiro(data[data['Archer'] == 'Alex'].Score))

ShapiroResult(statistic=0.7501100301742554, pvalue=0.019969742745161057)
ShapiroResult(statistic=0.9515655040740967, pvalue=0.7529401779174805)
ShapiroResult(statistic=0.8616125583648682, pvalue=0.19476738572120667)

In [15]:
print(np.var(data[data['Archer'] == 'Pat'].Score, ddof=1))
print(np.var(data[data['Archer'] == 'Jack'].Score, ddof=1))
print(np.var(data[data['Archer'] == 'Alex'].Score, ddof=1))

4.566666666666666
6.0
3.4666666666666663

In [3]:
f, p = stats.f_oneway(data[data['Archer'] == 'Pat'].Score,
                      data[data['Archer'] == 'Jack'].Score,
                      data[data['Archer'] == 'Alex'].Score)
 
print ('One-way ANOVA')
print ('=============')
 
print ('F value:', f)
print ('P value:', p, '\n')

One-way ANOVA
=============
F value: 4.999999999999998
P value: 0.021683749320078414

Wniosek
Ponieważ, odrzucamy hipotezę zerową o równości średnich zastanawiamy się czy któryś ze strzelców nie radzi sobie istotnie lepiej.

In [8]:
#Then, do the multiple testing
multiComp = MultiComparison(data['Score'], data['Archer'])

Należy również zauważyć, że funkcja tukeyhsd() ma parametr alfa, którego nie określamy wyraźnie, ponieważ jesteśmy zadowoleni ze swojej wartości domyślnej

In [6]:
print((multiComp.tukeyhsd().summary()))

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
  Alex   Jack  -3.3333 0.0435 -6.5755 -0.0911   True
  Alex    Pat     -3.5 0.0337 -6.7422 -0.2578   True
  Jack    Pat  -0.1667    0.9 -3.4089  3.0755  False
----------------------------------------------------

In [7]:
print(np.mean(data[data['Archer'] == 'Pat'].Score))
print(np.mean(data[data['Archer'] == 'Jack'].Score))
print(np.mean(data[data['Archer'] == 'Alex'].Score))

4.833333333333333
5.0
8.333333333333334

Wniosek
Wyniki testu Tukey pokazują średnią różnicę, przedziały ufności i to, czy należy odrzucić hipotezę zerową dla każdej pary grup na danym poziomie istotności.

W tym przypadku test sugeruje odrzucenie hipotezy o równości średnich dla par:

Aleksander Jacek

Aleksander Patryk

To sugeruje, że wyniki Aleksandra stanowczo różnią się od innych grup.

Zadanie 1 
Analogicznie wykonaj poniższe zadanie:
Pewna grupa poddała się trzem testom. Na podstawie poniższych wyników chcielibyśmy zweryfikować hipotezę zerowa mówiącą, że środni wynik w tych trzech testach jest taki sam.

In [8]:
data = np.rec.array([
    (  1,   'mental',  2 ),
    (  2,   'mental',  2 ),
    (  3,   'mental',  3 ),
    (  4,   'mental',  4 ),
    (  5,   'mental',  4 ),
    (  6,   'mental',  5 ),
    (  7,   'mental',  3 ),
    (  8,   'mental',  4 ),
    (  9,   'mental',  4 ),
    ( 10,   'mental',  4 ),
    ( 11, 'physical',  4 ),
    ( 12, 'physical',  4 ),
    ( 13, 'physical',  3 ),
    ( 14, 'physical',  5 ),
    ( 15, 'physical',  4 ),
    ( 16, 'physical',  1 ),
    ( 17, 'physical',  1 ),
    ( 18, 'physical',  2 ),
    ( 19, 'physical',  3 ),
    ( 20, 'physical',  3 ),
    ( 21,  'medical',  1 ),
    ( 22,  'medical',  2 ),
    ( 23,  'medical',  2 ),
    ( 24,  'medical',  2 ),
    ( 25,  'medical',  3 ),
    ( 26,  'medical',  2 ),
    ( 27,  'medical',  3 ),
    ( 28,  'medical',  1 ),
    ( 29,  'medical',  3 ),
    ( 30,  'medical',  1 )], dtype=[('idx', '<i4'),
                                    ('Treatment', '|S8'),
                                    ('StressReduction', '<i4')])

Wykonajmy test ANOVA oraz multicomparision

In [9]:
df = pd.DataFrame(data)
d1=df["StressReduction"][df["Treatment"]==b'mental']
d2=df["StressReduction"][df["Treatment"]==b'physical']
d3=df["StressReduction"][df["Treatment"]==b'medical']

In [16]:
print(np.mean(d1))
print(np.mean(d2))
print(np.mean(d3))

3.5
3.0
2.0

Zaimportuj biblioteki

In [15]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [16]:
#Get the data
# from google.colab import drive
# drive.mount('/content/gdrive')
# muicie kliknac w ten link co was prosi, przejść przez wasze konto google i wkleić kod autoryzacyjny w wyskakujące okienko wtedy powinno wszystko działać.
import pandas as pd 
data=pd.read_csv('/home/mikolaj/DS/Sages/zjazd_6/DS Bootcamp 14-15.05/pliki/ANOVA2.txt', header = None, sep=' ',names=['hs', 'fetus', 'observer'])

In [17]:
# from google.colab import files
#uploaded = files.upload()
# wybrać plik z waszego komputera, a potem podac jego nazwe ja podaje roboczo tak jak nazywał się ten nasz zbiór:
# import  io
#data = pd.read_csv(io.BytesIO(uploaded['ANOVA2.txt']))

In [18]:
# Bring them in DataFrame-format
data.head()

     hs  fetus  observer
0  14.3      1         1
1  14.0      1         1
2  14.8      1         1
3  13.6      1         2
4  13.6      1         2

Zadanie
W porównaniu z jednostronnym ANOVA, analiza 2-czynnikowa bada nie tylko pojedyncze czynniki ale może też sprawdzić, czy współdziałanie czynników ma istotny wpływ na rozkład danych.

Weźmy np. pomiary obwodu głowy płodu wykonane przez czterech lekarzy na trzech różnych płodach ANOVA2.txt

In [36]:

# Determine the ANOVA with interaction
formula = 'hs ~ C(fetus) + C(observer) + C(fetus):C(observer)'
lm = ols(formula, data).fit()
anovaResults = anova_lm(lm)
print(anovaResults)

                        df      sum_sq     mean_sq            F        PR(>F)
C(fetus)               2.0  324.008889  162.004444  2113.101449  1.051039e-27
C(observer)            3.0    1.198611    0.399537     5.211353  6.497055e-03
C(fetus):C(observer)   6.0    0.562222    0.093704     1.222222  3.295509e-01
Residual              24.0    1.840000    0.076667          NaN           NaN

Wnioski

Różne płody wykazują znaczne różnice w rozmiarach głowy (), również wybór obserwatora ma znaczący wpływ (). Jednak żaden indywidualny obserwator nie był znacząco z każdym indywidualnym płodem (p> 0.05).

Zadanie.
Sprawdź czy wzrost zębów zależy od pozostałych zmiennych supp, dose

In [39]:
data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/tooth_growth_csv')
df = data
df.head()
#df.supp.unique()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

MULTICOMPARISON

In [45]:
#Then, do the multiple testing
multiComp2 = MultiComparison(df['len'], df['dose'])
print((multiComp2.tukeyhsd().summary()))

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
   0.5    1.0     9.13 0.001  5.9018 12.3582   True
   0.5    2.0   15.495 0.001 12.2668 18.7232   True
   1.0    2.0    6.365 0.001  3.1368  9.5932   True
---------------------------------------------------

1-WAY ANOVA

In [47]:
f, p = stats.f_oneway(df[df['supp'] == 'VC'].len,
                      df[df['supp'] == 'OJ'].len,
                      )
 
print ('One-way ANOVA')
print ('=============')
 
print ('F value:', f)
print ('P value:', p, '\n')

One-way ANOVA
=============
F value: 3.6682525410709697
P value: 0.060393371224128745

In [49]:
f, p = stats.f_oneway(df.len, df.dose)
print ('One-way ANOVA')
print ('=============')
 
print ('F value:', f)
print ('P value:', p, '\n')

One-way ANOVA
=============
F value: 317.18015143534444
P value: 3.104466162339778e-35

OLS

In [51]:
# Determine the ANOVA with interaction
formula = 'len ~ C(supp) + C(dose) + C(supp):C(dose)'
lm = ols(formula, df).fit()
anovaResults = anova_lm(lm)
print(anovaResults)

                   df       sum_sq      mean_sq          F        PR(>F)
C(supp)           1.0   205.350000   205.350000  15.571979  2.311828e-04
C(dose)           2.0  2426.434333  1213.217167  91.999965  4.046291e-18
C(supp):C(dose)   2.0   108.319000    54.159500   4.106991  2.186027e-02
Residual         54.0   712.106000    13.187148        NaN           NaN

Kruskal–Wallis Test
W przypadku trzech lub więcej grup testem dla danych z rozkładu normalnego jest analiza wariancji (ANOVA), w odwrotnym przypadku używamy testu Kruskala-Wallisa.

In [54]:
# Import standard packages
import numpy as np
# additional packages
from scipy.stats.mstats import kruskalwallis
# Get the data
city1 = np.array([68, 93, 123, 83, 108, 122])
city2 = np.array([119, 116, 101, 103, 113, 84])
city3 = np.array([70, 68, 54, 73, 81, 68])
city4 = np.array([61, 54, 59, 67, 59, 70])


h, p = kruskalwallis(city1, city2, city3, city4)

# Print the results
if p<0.05:
    print('There is a significant difference between the cities.')
else:
    print('No significant difference between the cities.')
print(p)

There is a significant difference between the cities.
0.0011186794961869423

Zadanie 1
Pobieraj dane z pliku ANOVA4.txt Zawiera on dane z eksperymentu na roślinach, które były hodowane w trzech różnych warunki wzrostu.

Wykonaj ANOVA
Czy trzy grupy są różne?
Wykonaj analizę post hoc, który z par jest inny?
Czy porównanie nieparametryczne (Kruskal-Wallis test) prowadzi do innego wyniku?

In [ ]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [ ]:
df = pd.read_csv('ANOVA4.txt',sep=" ",header=None, names=['group','weight'])
df.head()

In [ ]:
 # Sort them into groups, according to column 1
data=np.array(df)
group1 = data[data[:,0]=='Control',1]
group2 = data[data[:,0]=='TreatmentA',1]
group3 = data[data[:,0]=='TreatmentB',1]