# Pandas – zadania

Na podstawie poniższego dataframe'a wykonaj zadania

Czas: 25 minut

In [1]:
import pandas as pd
import numpy as np 

dict_ = {"id": list(range(1, 9)), 
         "name": ["Alice", "Bob", None, "Dereck", "Elizabeth", "Frank", "George", np.nan],
         "date_of_birth": ["1991-10-13", "2004-04-02", "", "", "", "1999-04-05", "", "1984-08-11"],
         "n_of_points": [20, 23, 11, 40, 54, 29, 31, 20]}
df = pd.DataFrame(dict_)
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"])

In [2]:
df

   id       name date_of_birth  n_of_points
0   1      Alice    1991-10-13           20
1   2        Bob    2004-04-02           23
2   3       None           NaT           11
3   4     Dereck           NaT           40
4   5  Elizabeth           NaT           54
5   6      Frank    1999-04-05           29
6   7     George           NaT           31
7   8        NaN    1984-08-11           20

1. Sprawdź ile kolumn i wierszy ma dataframe

In [ ]:
# ...

2. Sprawdź jakie są typy danych w poszczególnych kolumnach. Zrób to na dwa sposoby: klasycznie oraz z wykorzystaniem pętli `for`

In [ ]:
# ...

3. Wywołaj na obiekcie df metodę, która pokaże informacje o typach kolumn, wartościach brakujących oraz pamięci zajmowanej przez obiekt

In [ ]:
# ...

4. Utwórz dataframe, który zawiera kolumny "name" oraz "n_of_points" z wyjściowego dataframe'a

In [ ]:
# ...

5. Sprawdź jaka wartość jest w kolumnie "date_of_birth" dla indeksu df-a równego 5

In [ ]:
# ...

6. Sprawdź ile unikalnych wartości jest w poszczególnych kolumnach

In [ ]:
# ...

7. Wyciągnij cały wiersz z dataframe'a dla osoby o imieniu "Dereck"

In [ ]:
# ...

8. Wyciągnij informacje o wszystkich osobach, które mają mniej punktów niż 30

In [ ]:
# ...

9. Utwórz nową kolumnę, której wartości będą wyglądały w następujący sposób: `<NAME>__<N_OF_POINTS>`

In [ ]:
# ...

10. Policz średnią punktów wszystkich osób

In [ ]:
# ...

11. Zamień wszystkie brakujące wartości na napis "brak danych"

In [ ]:
# ...

12. Posortuj wiersze według malejącej liczby punktów

In [ ]:
# ...