In [3]:
import pandas as pd
import numpy as np

from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

# Zadanie
Proszę pobrać dane z

http://archive.ics.uci.edu/ml/datasets/Auto+MPG

http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

In [4]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model year", "origin", "car name"]

In [7]:
data = pd.read_csv(url, names=names, delimiter="\s+", na_values=["?"])
print(data.shape)

(398, 9)

In [8]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

# Zadanie
Proszę usunąć kolumny, które nie są numeyczne.

In [9]:
drop_list = ['car name']

In [10]:
data=data.drop(drop_list, axis=1)
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

# Zadanie
Prosze usunąć brakujące dane.

In [11]:
null_counts = data.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [12]:
data=data.dropna()
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [22]:
data.columns  = [i.replace(" ","_") for i in data.columns.values  ]

data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

# Zadanie
Proszę nauczyć wszytkie poznane modele regresji.
Który z nich działa najlepiej?

In [23]:
auto_target = data["acceleration"]
auto_data = data.drop(["acceleration"],axis=1)

In [24]:
auto_data.head()

    mpg  cylinders  displacement  horsepower  weight  model_year  origin
0  18.0          8         307.0       130.0  3504.0          70       1
1  15.0          8         350.0       165.0  3693.0          70       1
2  18.0          8         318.0       150.0  3436.0          70       1
3  16.0          8         304.0       150.0  3433.0          70       1
4  17.0          8         302.0       140.0  3449.0          70       1

In [25]:
auto_target.head()

0    12.0
1    11.5
2    11.0
3    12.0
4    10.5
Name: acceleration, dtype: float64

In [26]:
y=auto_target
X=auto_data

In [27]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
X_train = X[:-30]
X_test = X[-30:]
 
y_train = y[:-30]
y_test = y[-30:]

In [29]:
train=pd.DataFrame(data[:-30])
train.columns = data.columns.values
train.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [38]:
test=pd.DataFrame(data[-30:])

In [39]:
model = ols("acceleration ~ displacement + model_year:origin", train).fit()
# Print the summary
print((model.summary2()))

                 Results: Ordinary least squares
==================================================================
Model:              OLS              Adj. R-squared:     0.320
Dependent Variable: acceleration     AIC:                1629.1912
Date:               2019-02-02 00:49 BIC:                1640.8661
No. Observations:   362              Log-Likelihood:     -811.60
Df Model:           2                F-statistic:        85.87
Df Residuals:       359              Prob (F-statistic): 3.34e-31
R-squared:          0.324            Scale:              5.2299
------------------------------------------------------------------
                   Coef.  Std.Err.    t     P>|t|   [0.025  0.975]
------------------------------------------------------------------
Intercept         19.9270   0.5549  35.9085 0.0000 18.8357 21.0184
displacement      -0.0174   0.0015 -11.7994 0.0000 -0.0203 -0.0145
model_year:origin -0.0082   0.0025  -3.2429 0.0013 -0.0132 -0.0032
------------------------------------------------------------------
Omnibus:               25.378       Durbin-Watson:          1.387
Prob(Omnibus):         0.000        Jarque-Bera (JB):       29.130
Skew:                  0.628        Prob(JB):               0.000
Kurtosis:              3.596        Condition No.:          1134
==================================================================
* The condition number is large (1e+03). This might indicate
strong multicollinearity or other numerical problems.

In [40]:
from sklearn import  metrics
metrics.r2_score(train.acceleration, model.predict(train))

0.3235827345553919

In [41]:
from sklearn import  metrics
metrics.r2_score(test.acceleration, model.predict(test))

0.07502992464839464