In [5]:
import datetime

In [6]:
print(datetime.datetime.now())

2022-03-18 09:45:48.121656

In [7]:
# print("1 Hour")
print(datetime.time(1))

01:00:00

In [8]:
# print("2 and a half hour")
print(datetime.time(2, 30))

02:30:00

In [9]:
# print("3 hours, 45 minutes and 30 seconds")
print(datetime.time(3, 45, 30))

03:45:30

In [12]:
ts_now = datetime.datetime.now()
print(ts_now)
#
#
print(ts_now.day)
#
print(ts_now.year)
print(ts_now.month)
print(ts_now.minute)
print(ts_now.second)
print(ts_now.microsecond)

2022-03-18 09:46:52.452916
18
2022
3
46
52
452916

In [13]:
print(ts_now.isoweekday())

5

In [16]:
ts_xmas = datetime.datetime(2022,12,24)
ts_now = datetime.datetime.now()
ts_diff = ts_xmas - ts_now
print (ts_diff)
print (type(ts_diff))

280 days, 14:12:03.202353
<class 'datetime.timedelta'>

In [17]:
today = datetime.datetime.now()
offset = datetime.timedelta(days=45, hours=13)
print(today + offset)

2022-05-02 22:48:28.306420

In [18]:
# # ## KONWERSJA STRINGÓW I DAT
# # - %Y year
# # - %d day
# # - %m month
# # - %H hour
# # - %M minute
# # - %S second

In [19]:
date_str =  "01-10-2015T14:34"
date_ts = datetime.datetime.strptime(date_str,"%m-%d-%YT%H:%M")
print(date_ts)
print(type(date_ts))

2015-01-10 14:34:00
<class 'datetime.datetime'>

In [21]:
date_str = "10/01/2015"
date_ts = datetime.datetime.strptime(date_str,"%d/%m/%Y")
print(date_ts)
print(type(date_ts))

2015-01-10 00:00:00
<class 'datetime.datetime'>

In [22]:
# 2015-01-10 00:00:00
new_date_str = datetime.datetime.strftime(date_ts, "%H:%M:%S %m-%d-%Y")
print(new_date_str)
print(type(new_date_str))

00:00:00 01-10-2015
<class 'str'>

In [23]:
print(f'{date_ts.month}-{date_ts.year}')

1-2015

In [24]:
from dateutil.parser import parse
print(parse('January 31, 2010'))
print(parse("2003-01-04T10:49:41"))

2010-01-31 00:00:00
2003-01-04 10:49:41

In [25]:
# 1. Stwórz zmienną future (typ datetime), której data to 20 stycznia 2021 o 22:34

In [32]:
future = datetime.datetime(2021,1,20,22,34)
print(future)

2021-01-20 22:34:00

In [33]:
# 2. Zamień poniższą datę na napis: ’31 January, 2001, Wednesday’

In [39]:
dt = datetime.datetime(2001, 1, 31)
data_str = datetime.datetime.strftime(dt, "%d %B, %Y, %A")
print(data_str)
print(type(data_str))

31 January, 2001, Wednesday
<class 'str'>

In [44]:
# 3. Stwórz zmienną, która jest różnicą czasu future i chwili obecnej. Wynik wyświetl w sekundach

In [43]:
future = datetime.datetime(2022,11,20,22,34)
now = datetime.datetime.now()
delta = future - now
delta.total_seconds()

21353273.611552

In [45]:
# 4. Zamień napis 'Jan 20, 2017 5pm' na zmienną typu czas

In [50]:
s = 'Jan 20, 2017 5pm'
date_ts = datetime.datetime.strptime(s, "%b %d, %Y %I%p")
print(date_ts)

2017-01-20 17:00:00

In [51]:
# 5. W poniższej liście dat znajdź najstarszą.
# Wyświetl czas, jaki upłynął od tej chwili do teraz w sekundach

In [52]:
datetime_list = ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']

In [57]:
new_list = [datetime.datetime.strptime(elem, "%d.%m.%Y %H:%M:%S") for elem in datetime_list]
old_date = min(new_list)
print(old_date)
now = datetime.datetime.now()
delta = now - old_date
delta.total_seconds()

1995-08-25 00:00:00

838326448.379884

In [58]:
# 6. Ile minęło sobót pomiędzy dwoma poniższymi datami, które przypadają na dzień podzielny przez 3? (odp: 14)

In [80]:
d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)

In [81]:
counter = 0
offset = datetime.timedelta(days=7)
while d1 <= d2:
    if d1.day % 3 == 0:
        counter += 1
    d1 += offset
print(counter)

14